$fonts : Raleway, sans-serif;

*{
  font-family: $fonts;
}

#app{
background-color:transparent;
}

#leftSide,#rightSide{
  padding-top: 20px;
}

.RecListItem{
  border-bottom: black solid 3px;
  cursor:pointer;
  padding: 15px 0px 2px 0px;
  margin-top:15px;
  border-radius:10px;
  font-size:20px;
  &:hover{
    font-weight:bold;
  }
}

.funcButton {
  background-color:none;
  outline:none;
  border-bottom: black solid 3px;
  cursor:pointer;
  padding: 10px 0px 10px 0px;
  margin-top:15px;
  border-radius:10px;
  background-color:transparent;
  color: LimeGreen;
  font:{size:20px;  
      }
  &:hover{
    color:darkgreen;
  }
}



///////// SELECTOR ANIMATION ///////////////
@keyframes barMover {
  0% {
    width: 0;
  } 100% {
    width: 100%;
  }
}

//.box{
//  background-color:green;
//   &:hover{
//      background-color:red;
//  animate: barMover 0.15s linear 1;
//  -webkit-animation: barMover 0.15s linear 1;
//  }}

p{
    color:slateGrey;
  text-align: center;
   // mix-blend-mode: difference;
}

#deleteButton{
  color:red;
  &:hover{
    color:darkred;
  }
}

textarea{
  resize: vertical;
}

img{
 border-radius:50%;
 width:100%;
 }